/* orange: #f26b31 */
/* blue: #334996 */
/* dark gray: #242021 */

#all-header {
    /* background: #f26b31; */
    /* color: #fff; */

    /* For Feb 2022 shakeup */
    color: #000;
}

#all-summary, #all-end {
    /* background: #334996; */
    color: #000;

    /* For Feb 2022 shakeup */
    background: #fff;
}

#all-details {
    /* color: #242021; */

    /* For Feb 2022 shakeup */
    color: #000;
    background-color: #fff;
}

#all-details .row div {
    /* border-bottom: solid 2px #f25b31; */
}

#all-end {
    font-weight: 600;
}

#all-end .phone {
    font-size: 24px;
    margin-left: 10px;
}

#all-summary a, #all-end a {
    color: #fff;
}

table {
    text-align: center;
}