h1 {
    font-size: 42px;
}

h2 {
    font-weight: 600;
}

#results-stops a {
    color: #35393F;
}

.card-title {
    font-weight: 700;
}

.card {
    border-color: #FFF;
    background-color: #F5F7FB;
}

.card-blue {
    background-color: #105EDA;
}

button#btnAllChanges, button#btnDownloadSchedule {
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
}

.stop1-name, .stop2-name {
    line-height: 40px;
}