#section-instructions {
    background-color: #F8F8F8;
}

#section-download {
    background-color: #F5F7FB;
}

#section-download a {
    color: #000;
    text-decoration: none;
}

#download-cta {
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.steps li {
    margin-bottom: 8px;
}

.transit-app-icon {
    width: 58px;
}

/*
 * X-Small devices (portrait phones, less than 576px)
 * No media query for `xs` since this is the default in Bootstrap
 */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .transit-app-icon {
        width: 70px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    #section-instructions {
        font-size: 21px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .transit-app-icon {
        width: 81px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
