name: Clone from Dev-branch to Dev site with Python

on:
  # Triggers the workflow on push or pull request events but only for the dev branch
  push:
    branches: [ dev, testing-actions ]
  pull_request:
    branches: [ dev ]
    types: [closed]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      METRO_GITHUB_TOKEN: ${{ secrets.METRO_GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Push to Dev Repository
        run: python update-dev.py
